<p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{ name }}</li>
</ul>

<aol-map #mapComponent [width]="'1000px'" [height]="'600px'">
  <aol-interaction-default></aol-interaction-default>
  <aol-view #viewComponent [zoom]="viewCalculatedZoom">
      <aol-coordinate [x]="viewCalculatedX" [y]="viewCalculatedY" [srid]="srid"></aol-coordinate>
  </aol-view>
  <aol-layer-tile>
      <aol-source-osm></aol-source-osm>
      <!--aol-source-tilewms [url]="url" [params]="params" [projection]="srid"></aol-source-tilewms-->
      <!--aol-source-xyz [url]="xyzurl" [projection]="srid"></aol-source-xyz-->
  </aol-layer-tile>
</aol-map>